.superior{
  display: flex;
  justify-content: center;
}


.squares{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  width: 615px;
}

.grid{
  border: 2px;
  height: 200px;
  width: 200px;
  text-align: center;
  color: black;
  display: flex;
  border-style: solid;
  align-content: center;
  justify-content: center;
}

