.app {
  text-align: center;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  width: 462px;
  margin: 0 auto;
}
.square {
  border: 2px solid black;
  height: 150px;
  width: 150px;
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.square:hover {
  background-color: gray;
}
.updateMessage{
  display: flex;
  justify-content: center;
  padding: 25px;
  font-size: larger;
  font-weight: 400;
}
.page{
  background-color: bisque;
}